<header
    class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Inicio</a></li>
        <li><a routerLink="/products" class="nav-link px-2 link-secondary">Productos</a></li>
        <li><a routerLink="/users" class="nav-link px-2">Usuarios</a></li>
        <li><a routerLink="/carts" class="nav-link px-2">Carrito</a></li>
        <li><a routerLink="/more" class="nav-link px-2">Más</a></li>
    </ul>
</header>