<header class="p-3 border-bottom bg-header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/start" class="nav-link px-2" 
              [ngClass]="{'selected' : this.router.url=='/start'}">Inicio</a></li>
            <li><a routerLink="/products" class="nav-link px-2" 
                [ngClass]="{'selected' : this.router.url=='/products'}">Productos</a></li>
            <li><a routerLink="/users" class="nav-link px-2" 
                [ngClass]="{'selected' : this.router.url=='/users'}">Usuarios</a></li>
        </ul>

        
      </div>
    </div>
  </header>