<section *ngIf="cargado" class="d-flex justify-content-center">

    <div class="container-fluid m-5">

        <h1 class="mb-3 mt-2">
            Productos
            <small class="text-muted float-end">Encuentra lo que quieras aquí!</small>
        </h1>

        <button class="btn btn-primary float-end" type="button" routerLink="/products/form">Añadir nuevo
            producto</button>

        <app-pagination [totalItems]="total" [(limit)]="limit" (limitChange)="limitChanged($event)" (pageChanged)="changePage($event)"></app-pagination>
        <div class="input-group mb-3">
            <input #searchBox type="text" class="form-control" placeholder="Buscar..." (keyup.enter)="search(searchBox.value)"/>
            <button type="button" class="btn btn-outline-primary" (click)="search(searchBox.value)">Buscar</button>
        </div>
        <div id="liveAlertPlaceholder" class="m-4"></div>
        <div class="row d-flex">
            <div class="col-md-3 mb-4 card-deck" *ngFor="let p of products">
                <div class="card m-2 border-dark p-2 h-100">

                    <img src="{{p.thumbnail}}" class="card-img-top img-fluid p-2 thumbnail" alt="{{p.description}}"
                        style="height: 200px; width: 100%;" data-bs-toggle="modal" [attr.data-bs-target]="'#detailsProductModal'+p.id">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <p class="card-text text-danger">{{p.price}} €</p>
                        <p class="card-text">{{p.brand}}</p>
                        <p class="card-text">{{p.category}}</p>
                    </div>
                    <div class="container card-footer bg-white my-4">
                        <button type="button" class=" btn btn-primary" title="Ver más" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#detailsProductModal'+p.id">
                            Ver más
                        </button>
                        <div class="modal" [id]="'detailsProductModal'+p.id" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Detalles de producto</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div *ngIf="p.images.length == 1; else caroussel">
                                            <img src="{{p.images[0]}}" class="rounded mx-auto d-block" style="width: 90%" alt="p.title">
                                        </div>
                                        <ng-template #caroussel>
                                            <div id="myCarousel{{p.id}}" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div *ngFor="let image of p.images; let i = index" class="carousel-item"
                                                        [class.active]="i === activeImageIndex">
                                                        <img src="{{image}}" class="rounded mx-auto d-block"
                                                            style="width: 90%" alt="Imagen {{i + 1}}">
                                                    </div>
                                                </div>
    
    
                                                <a class="carousel-control-prev" (click)="nextImg(p.id)" role="button"
                                                    data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                </a>
                                                <a class="carousel-control-next" (click)="prevImg(p.id)" role="button"
                                                    data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </ng-template>
                                        


                                        <p class="mt-4 text-center fs-4 fw-bold">Datos de {{p.title}}</p>
                                        <p class="text-start"><b>Descripción:</b> {{p.description}} </p>
                                        <p class="text-start"><b>Precio:</b> {{p.price}} €</p>
                                        <p class="text-start"><b>Descuento:</b> {{p.discountPercentage}} %</p>
                                        <p class="text-start"><b>Valoración:</b> {{p.rating}}/5</p>
                                        <p class="text-start"><b>Stock:</b> {{p.stock}} unidades</p>
                                        <p class="text-start"><b>Marca:</b> {{p.brand}} </p>
                                        <p class="text-start"><b>Categoría:</b> {{p.category}} </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Salir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/form/{{p.id}}" class="btn btn-outline-info update-button"
                            title="Modificar producto">
                            <img src="assets/img/pencil.png" style="height:20px; size:20px" alt="Modificar producto" />
                        </a>
                        <button type="button" title="Borrar" class="btn btn-outline-danger float-end"
                            data-bs-toggle="modal" [attr.data-bs-target]="'#deleteProductModal'+p.id">
                            <img src="assets/img/trash.png" style="height:20px; size:20px" alt="Borrar producto">
                        </button>
                        <div class="modal" [id]="'deleteProductModal'+p.id" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Eliminar producto</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Está seguro de que desea eliminar el producto <b>{{p.title}}</b>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Salir</button>
                                        <button type="button" class="btn btn-danger" (click)="delete(p.id)"
                                            data-bs-dismiss="modal">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>