<nav class="nav">
    <ul class="pagination">
        <li class="page-item" aria-label="Anterior" *ngIf="actualPage == 0">
            <a class="page-link disabled" (click)="previousPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngIf="actualPage != 0">
            <a class="page-link" (click)="previousPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let i of numPages" class="page-item">
            <a [ngClass]="i-1==actualPage ? 'page-link active': 'page-link'" (click)="changePage(i-1)">{{i}}</a>
        </li>
        <li class="page-item" *ngIf="actualPage == totalPages -1">
            <a class="page-link disabled" (click)="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item" aria-label="Siguiente" *ngIf="actualPage < totalPages -1">
            <a class="page-link" (click)="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <p class="fw-bold fs-6 m-3">Total de resultados encontrados: {{totalItems}}</p>


    <select class="form-select form-select-sm w-auto h-auto mb-3 me-3" [(ngModel)]="limit">
        <option  *ngFor="let i of numPagesOptions" [value]="i">{{i}}</option>
    </select>
</nav>