<section *ngIf="cargado" class="d-flex justify-content-center">
    <div class="container-fluid m-5">
        <h1 class="mb-3 mt-2">
            Usuarios
            <small class="text-muted float-end">Todos nuestros usuarios están aquí</small>
        </h1>

        <button class="btn btn-primary float-end" type="button" routerLink="/users/form">Añadir nuevo
            usuario</button>

        <app-pagination [totalItems]="total" [(limit)]="limit" (pageChanged)="changePage($event)"
            (limitChange)="limitChanged($event)"></app-pagination>

        <div class="input-group mb-3">
            <input #searchBox type="text" class="form-control h-auto" placeholder="Buscar..." (keyup.enter)="searchUser(searchBox.value)"/>
            <button type="button" class="btn btn-outline-primary" (click)="searchUser(searchBox.value)">Buscar</button>
            <button type="button" title="Filtrar" class=" btn btn-outline-success float-end h-auto"
                (click)="showFilters()">
                <img src="assets/img/filter.png" style="height:20px; size:20px" alt="Filtrar">
            </button>
        </div>

        <div class="container mb-3" *ngIf="filtersActive">
            <div class="row justify-content-md-center">
                <span class=" fs-4">Filtros de búsqueda</span>
            </div>

            <div class="row justify-content-md-center mt-4">
                <div class="col col-md-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nombre</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="firstName"
                            ngDefaultControl>
                    </div>
                </div>
                <div class="col col-md-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Apellidos</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="lastName"
                            ngDefaultControl>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Edad</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Edad" [(ngModel)]="age" ngDefaultControl>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Usuario</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="username"
                            ngDefaultControl>
                    </div>
                </div>
                <div class="col col-md-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fecha de nacimiento</span>
                        </div>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento"
                            [(ngModel)]="birthDate" ngDefaultControl>
                    </div>
                </div>
                <div class="col col-md-auto">
                    <div class="input-group mb-3" [(ngModel)]="gender" ngDefaultControl>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Sexo</span>
                        </div>
                        <div class="form-check m-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="male"
                                [value]="'male'">
                            <label class="form-check-label" for="male">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check m-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="female"
                                [value]="'female'">
                            <label class="form-check-label" for="female">
                                Femenino
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-auto">
                    <button type="button" class="btn btn-success" (click)="applyFilters()">Aplicar filtros</button>
                </div>
            </div>
        </div>
        <div id="liveAlertPlaceholder" class=""></div>
        <div class="row d-flex">
            <div class="col-md-3 mb-4 card-deck container-fluid" *ngFor="let usu of users">
                <div class="card m-2 border-dark p-2 h-100">
                    <img src="{{usu.image}}" class="card-img-top img-fluid thumbnail p-2" alt="{{usu.firstName}}"
                        style="height: 200px; width: 100%;" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#detailsUserModal'+usu.id">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{usu.firstName}}</h5>
                        <p class="card-text"><b>Apellidos: </b>{{usu.lastName}}</p>
                        <p class="card-text"><b>Edad: </b>{{usu.age}}</p>
                        <p class="card-text"><b>Nombre de usuario: </b>{{usu.username}}</p>
                        <p class="card-text"><b>Fecha de nacimiento: </b>{{usu.birthDate}}</p>
                        <p class="card-text"><b>Sexo: </b>{{usu.gender}}</p>
                    </div>
                    <div class="container my-4">
                        <button type="button" class="m-3 btn btn-primary" title="Ver más" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#detailsUserModal'+usu.id">
                            Ver más
                        </button>
                        <div class="modal" [id]="'detailsUserModal'+usu.id" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Detalles de usuario</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="rounded mx-auto d-block" src="{{usu.image}}"
                                            alt="{{usu.firstName}}">
                                        <p class="mt-4 text-center fs-4 fw-bold">Datos personales</p>
                                        <p class="text-start"><b>Nombre:</b> {{usu.firstName}} </p>
                                        <p class="text-start"><b>Apellidos:</b> {{usu.lastName}} </p>
                                        <p class="text-start"><b>Edad:</b> {{usu.age}} </p>
                                        <p class="text-start"><b>Sexo:</b> {{usu.gender}} </p>
                                        <p class="text-start"><b>Email:</b> {{usu.email}} </p>
                                        <p class="text-start"><b>Teléfono:</b> {{usu.phone}} </p>
                                        <p class="text-start"><b>Nombre de usuario:</b> {{usu.username}} </p>
                                        <p class="text-start"><b>Fecha de nacimiento:</b> {{usu.birthDate}} </p>
                                        <p class="text-start"><b>Dirección:</b> {{usu.address.address}} </p>
                                        <p class="text-start"><b>Ciudad:</b> {{usu.address.city}} </p>
                                        <p class="text-start"><b>Código postal:</b> {{usu.address.postalCode}} </p>
                                        <p class="text-start"><b>Estado:</b> {{usu.address.state}} </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a *ngIf="cartsUsers.includes(usu.id)" routerLink="/carts/user/{{usu.id}}"
                                            class="btn btn-success " data-bs-dismiss="modal" title="Ver carrito">
                                            <img src="assets/img/cart.png" style="height:20px; size:20px"
                                                alt="Ver carrito" />
                                        </a>

                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Salir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/users/form/{{usu.id}}" class="btn btn-outline-info update-button"
                            title="Modificar usuario">
                            <img src="assets/img/pencil.png" style="height:20px; size:20px" alt="Modificar usuario" />
                        </a>
                        <button type="button" title="Borrar" class="m-3 btn btn-outline-danger float-end"
                            data-bs-toggle="modal" [attr.data-bs-target]="'#deleteUserModal'+usu.id">
                            <img src="assets/img/trash.png" style="height:20px; size:20px" alt="Borrar usuario">
                        </button>
                        <div class="modal" [id]="'deleteUserModal'+usu.id" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Eliminar usuario</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Está seguro de que desea eliminar el usuario <b>{{usu.firstName}}</b>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Salir</button>
                                        <button type="button" class="btn btn-danger" (click)="deleteUser(usu.id)"
                                            data-bs-dismiss="modal">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>