<section class="d-flex justify-content-center">
  <main class="container">
    <!-- NAVBAR -->
    <section class="row mt-4">
      <div class="col-md-3" *ngFor="let img of product?.images">
        <figure>
          <img class="img-fluid" src="{{img}}" alt="{{product?.description}}" style="height: 200px; width: 100%;">
        </figure>
      </div>
    </section>
    <section>
      <h2>{{product?.title}}</h2>
      <p class="text-start">{{product?.description}}</p>
      <p class="text-start">{{product?.price}}</p>
      <p class="text-start">{{product?.discountPercentage}}</p>
      <p class="text-start">{{product?.rating}}</p>
      <p class="text-start">{{product?.stock}}</p>
      <p class="text-start">{{product?.brand}}</p>
      <p class="text-start">{{product?.category}}</p>
      <button type="button" class="btn btn-light" title="Volver" (click)="goBack()">Volver</button>
      <a  routerLink="/products/form" class="btn btn-light float-end" title="Modificar producto">
        <img src="../../../assets/img/pencil.svg" alt="Modificar producto" />
      </a>
    </section>
  </main>
</section>