<section *ngIf="cargado" class="d-flex justify-content-center bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
height: 82.8vh">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="shadow-lg rounded m-5 p-4 bg-white">
        <div class="row gap-3 m-3">
            <h2 *ngIf="existe; else createNewUser">
                Edit User
            </h2>
            <ng-template #createNewUser>
                <h2>
                    Create new User
                </h2>
            </ng-template>
        </div>

        <div class="row gap-3 m-3">

            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="firstName" id="inputName"
                        placeholder="First name" required>
                    <label for="inputName">First name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="lastName" id="inputLastName"
                        placeholder="Last name" required>
                    <label for="inputLastName">Last name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="maidenName" id="inputMaidenName"
                        placeholder="Maiden name">
                    <label for="inputMaidenName">Maiden Name</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="age" id="inputAge" placeholder="Age" required>
                    <label for="inputAge">Age</label>
                </div>
            </div>
        </div>
        <div class="row gap-3 m-3">

            <div class="col-md-1">
                <div class="form-floating">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="checkboxMale" formControlName="gender"
                            value="male" > 
                        <label class="form-check-label" for="checkboxMale">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="checkboxFemale" formControlName="gender"
                            value="female">
                        <label class="form-check-label" for="checkboxFemale">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md ">
                <div class="form-floating">
                    <input type="email" class="form-control" formControlName="email" id="inputEmail"
                        placeholder="Email" required>
                    <label for="inputEmail">Email</label>
                </div>
            </div>
            <div class="col-md ">
                <div class="form-floating">
                    <input type="tel" class="form-control" formControlName="phone" id="inputTel"
                        placeholder="Telephone" required>
                    <label for="inputTel">Telephone</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" class="form-control" formControlName="birthDate" id="inputBirthDate"
                        placeholder="Birth date">
                    <label for="inputBirthDate">Birth Date</label>
                </div>
            </div>
        </div>
        

        <div class="row gap-3 m-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="username" id="inputUserName"
                        placeholder="Username" required>
                    <label for="inputUserName">Username</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="password" class="form-control" formControlName="password" id="inputPassword" required>
                    <label for="inputUserName">Password</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="height" id="inputHeight"
                        placeholder="Height">
                    <label for="inputHeight">Height</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="weight" id="inputWeight"
                        placeholder="Weight">
                    <label for="inputWeight">Weight</label>
                </div>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-md">
                <div class="form-floating">
                    <button type="button" class="btn btn-light" title="Go back" (click)="goBack()">Go back</button>
                    <button type="submit" class="btn btn-primary m-3" title="Save">Save</button>
                </div>
            </div>
        </div>

    </form>
</section>