<section *ngIf="cargado" class="d-flex justify-content-center">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="shadow-lg rounded">
        <div class="row gap-3 m-3">
            <h2 *ngIf="existe; else createNewUser">
                Edit User
            </h2>
            <ng-template #createNewUser>
                <h2>
                    Create new User
                </h2>
            </ng-template>
        </div>

        <div class="row gap-3 m-3">

            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="firstName" id="inputName"
                        placeholder="First name">
                    <label for="inputName">First name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="lastName" id="inputLastName"
                        placeholder="Last name">
                    <label for="inputLastName">Last name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" formControlName="maidenName" id="inputMaidenName"
                        placeholder="Maiden name">
                    <label for="inputMaidenName">Maiden Name</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="age" id="inputAge" placeholder="Age">
                    <label for="inputAge">Age</label>
                </div>
            </div>
        </div>
        <div class="row gap-3 m-3">

            <div class="col-md-1">
                <div class="form-floating">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Male" id="checkboxMale"
                            value="male">
                        <label class="form-check-label" for="checkboxMale">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Female" id="checkboxFemale"
                            value="male">
                        <label class="form-check-label" for="checkboxFemale">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md ">
                <div class="form-floating">
                    <input type="number" class="form-control" formControlName="stock" id="inputStock"
                        placeholder="Stock">
                    <label for="inputStock">Stock</label>
                </div>
            </div>
            <div class="col-md ">
                <div class="form-floating">
                    <input type="number" min="0" max="5" class="form-control" formControlName="rating" id="inputRating"
                        placeholder="Rating">
                    <label for="inputRating">Rating (0 to 5): </label>
                </div>
            </div>

        </div>

        <div class="row gap-3 m-3">
            <div class="col-md">
                <div class="form-floating">
                    <textarea type="text" class="form-control" formControlName="description" id="inputDescription"
                        placeholder="Description" style="resize:none; height: 125px"></textarea>
                    <label for="inputDescription">Description</label>
                </div>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-md">
                <div class="form-floating">
                    <button type="button" class="btn btn-light" title="Go back" (click)="goBack()">Go back</button>
                    <button type="submit" class="btn btn-primary m-3" title="Save">Save</button>
                </div>
            </div>
        </div>

    </form>
</section>